body {
    background-color: bisque;
}
.title {
    text-align: center;
    font-size: 70pt;
    color: coral;
}
.ul {
    color: coral;
    font-size: 40px;
    font-family: Impact;
}
.sub {
    color:brown;
    font-size: 60px;
}
.blue {
    color: blue;
}
